---
import IndicatedLink from "./IndicatedLink.astro";
---

<nav>
  <ul>
    <li>
      <IndicatedLink label="Projects" url="/projects" />
    </li>
    <li>
      <IndicatedLink label="Contact" url="/contact" />
    </li>
  </ul>
</nav>

<style>
  li {
    list-style: none;
  }
</style>
